.additional-products-title{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $base-color-text;
}

.additional-products-text{
font-family: "Oswald",sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 16px;
color:#222222;
}

.orders-for-cat-text{
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color:#FFFFFF;
  background-color: #68B738D9;
}





