.title-work{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-text;
}

.how-it-works__description{
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

