.how-works__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: $base-color-text;
}

.how-works__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $base-color-text;
}
