li{
  list-style-type: none;
}

.navigation__link{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: $base-color-text;
  text-decoration: none;
}


.navigation__title{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color:#FFFFFF;
}

.navigation__text{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color:#FFFFFF;
}


.navigation__functional{
  background-color: #68B738D9;
}

.navigation__select-program{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #68B738;
  padding: 10px 64px 10px 64px;
  text-decoration: none;
}





