li {
  list-style-type: none;
}

.navigation__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: $base-color-text;
  text-decoration: none;
}


.navigation__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  position: absolute;
  z-index: 2;
}

.navigation__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  position: absolute;
  z-index: 2;
}

.navigation__select-program {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: rgba(104, 183, 56, 1);
  padding: 10px 64px;
  text-decoration: none;
}

.navigation__toggle {
  background-image: url("/icons/cross.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: rgb(255 255 255);
}

.navigation__toggle--close {
  background-image: url("/icons/burger-decoration.svg");
}

.navigation__functional {
  position: relative;
  background-image: url("/images/cat-language.svg");
  background-size: 320px 302px;
  background-repeat: no-repeat;
}

.navigation__functional::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 302px;
  background-color: rgba(104, 183, 56, 0.9);
  z-index: 1;
}


.navigation__cat::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("/images/green-fon.png") no-repeat center;
  background-size: cover;
  z-index: -1;
}

