li{
  list-style-type: none;
}

.main-text{
font-family: "Oswald",sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: $base-color-text;
text-decoration: none;

}

.product-text{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: $base-color-text;
  text-decoration: none;
}

.selection-of-program-text{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: $base-color-text;
  text-decoration: none;
}

.food-for-cats{

  background-color: #68B738D9;
}

.cats-title{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color:#FFFFFF;
}

.take-text{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #FFFFFF;
}

.select-program{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #68B738;
  list-style-type: none;
}


