a{
  text-decoration: none;
}

.catalog-title{
font-family: "Lato",sans-serif;
font-weight: 400;
font-size: 36px;
line-height: 36px;
color: $base-color-text;
}

.title-casrds-product{
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color:#222222;
}

.table-catalog {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;
}

.order-button{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #68B738;
  color:#FFFFFF;
}

.itle-casrds-product{
  font-family: "Oswald",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color:#111111;
}

.more-text-catalog{
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;
}

.button-cards{
  background-color:#EBEBEB ;
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height:20px;
  color: $base-color-text;
}







